# Ignore sqlite database files
*.sqlite3

# Ignore cache folder
__pycache__/

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

# Ignore IDE configuration folders
.idea/
.vscode/


# Ignore media folder
media/
